body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    
}
H1{
  text-align: center;
}


.list-item {
    display: flex;
  
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e0f7fa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}


* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
   
  }
  
  .flex-item-left {
    background-color: #ffffff;
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: rgb(219, 235, 228);
    padding: 10px;
    flex: 50%;
  }
  
  @media (max-width: 700px) {
    .flex-container {
      flex-direction: column;
    }
  }